@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
	font-family: 'FonteLogo';
	src: url(../_fonts/bubblegum-sans-regular.otf);}
body {
    color: #000000;
    text-align: justify;
    text-indent: 2px;
    
}    
img#papagaios {
    border: 10px solid #cecece;
    width: 40%;
	height: 50%;
	padding: 10px;
	box-sizing: border-box;
}
header#cabecalho {
    border-bottom: 1px #606060 solid;
	height: 150px;
}